<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rgrg.admin.main">

	<select id="selectAdminId" parameterType="kr.co.rgrg.admin.main.vo.AdminLoginVO" 
	resultType="kr.co.rgrg.admin.main.domain.AdminLoginDomain">
	 	select id, pass
		from admin
		where id=#{ id }
	</select>
	
	<select id="selectCurrentPassId" parameterType="String"
	resultType="String">
	 	select pass
		from admin
		where id=#{ id }
	</select>
	
	<update id="updateAdminPass" parameterType="kr.co.rgrg.admin.main.vo.AdminUpdatePassVO">
	 	update admin
		set  pass=#{ pass }
		where id=#{ id }
	</update>
	
	
	<!-- 	관리자 : 회원관리 (모든 회원 조회) -->
	<select id="selectUserList" resultType="kr.co.rgrg.admin.user.domain.UserListDomain">
		select id, auth_email, platform
		from member
	</select>
	
</mapper>