* {
    box-sizing: border-box;
    transition: .2s
}

html {
    font-size: 62.5%
}

body {
    flex-direction: column
}


.section_main {
    margin: 0 auto;
    min-width: 100%
}

.section_main h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 9rem
}

.section_main .user_table {
    font-size: 1.4rem;
    line-height: 4.5rem;
    text-align: center;
    margin-top: 3rem
}

.section_main .user_table li:nth-child(odd) {
    background-color: #f5f5f5
}

.section_main .user_table li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 3fr 5fr 2fr;
    grid-template-columns: 1.5fr 3fr 5fr 2fr;
}

.section_main .user_table li:hover {
    background-color: #BADFFF
}

.section_main .user_table li:first-child {
    background-color: #e8e8e8;
    font-weight: 600
}


